// Color Scheme
$white : #FFFFFF;
$black : #000000;
$sable : #060606;
$charcoal : #2e1503;
$tangerine : #ffaf6d;
$orange: #ffa500;
$gray: #A6A5A8;
$blueviolet: blueviolet;

//Typography
$regular: 400;
$bold: 700;

//size
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;

// breakspoints
$min-small : 524px; // contenedor de 540
$min-medium : 768px; // contenedor de 720 
$min-large : 1200px;  // contendor de 1140